<template>
    <div class="tiny">
        just to test
    </div>
</template>

<script>
    export default {
        name: "nested-component"
    }
</script>

<style scoped>
    .tiny {
        float: right;
        font-size: 7px;
        padding-right: 5px;
    }
</style>
