<template>
    <div class="content">
        <p>{{ title }}</p>
        <select class="form-control input-sm scale-switcher"
                v-model="currentScale">
            <option v-for="option in this.$store.getters.scales" v-bind:value="option">
                {{ option }}
            </option>
        </select>
        <br/>
        <NestedComponent/>
    </div>
</template>

<script>
    // Nested component included for showcase
    import NestedComponent from './NestedComponentTest.vue'

    export default {
        components: {
            NestedComponent
        },
        data: function () {
            return {
                title: this.$attrs["title"],
            }
        },
        created: function () {
            const myBus = _.extend({}, Backbone.Events);
            myBus.listenTo(Radio.channel("MapView"), {
                "changedOptions": this.storeCurrentScale
            });
            this.$store.commit('scales', Radio.request("MapView", "getScales"));
            this.$store.commit('currentScale', Radio.request("MapView", "getOptions").scale);
        },
        computed: {
            // Two-way Computed Property
            currentScale: {
                get () {
                    return this.$store.getters.currentScale
                },
                set (value) {
                    const scale = parseInt(event.target.value);
                    this.$store.commit('currentScale', scale);
                    Radio.trigger("MapView", "setScale", scale);
                }
            }
        },
        methods: {
            storeCurrentScale(value) {
                this.$store.commit('currentScale', value.scale);
            }
        }
    }
</script>

<style scoped>
    .content {
        padding: 5px;
    }
    p {
        text-align: left;
        font-size: 0.8em;
    }
    .scale-switcher {
        border: 1px solid red;
    }
</style>
